<!-- Icône "plus" pour ajouter une nouvelle voiture -->
  <div class="container">
  <div class="row justify-content-end mb-4">
    <div class="col-md-6 text-right">
      <%= link_to new_car_path, class: "btn btn-outline-secondary", style: "border-radius: 20px;" do %>
        <i class="fa-solid fa-plus fa-2xs"></i>
      <% end %>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <!-- Colonne pour "My bookings" -->
    <div class="col-md-6">
      <h2>My bookings</h2>
      <% if @recent_bookings.present? %>
        <div class="bookings">
          <!-- Liste des réservations actuelles -->
          <% @recent_bookings.each do |booking| %>
            <div class="card-trip">
              <% if booking.car.photo.attached? %>
                <%= image_tag booking.car.photo, class: "card-img-top card-img-fit", alt: "Car Photo" %>
              <% end %>
              <div class="card-trip-infos">
                  <div data-controller="toggle" class="mt-5">
                      <div>
                        <h3> <%= booking.car.name %></h3>
                        <p>Start Date: <%= booking.start_date %></p>
                        <p>End Date: <%= booking.end_date %></p>
                        <p>Address: <%= booking.car.address %></p>
                      </div>
                      <div class="button-group">
                        <% if current_user == booking.user %>
                          <%= button_tag class: "btn btn-outline-secondary mb-3", style: "border-radius: 20px;", data: { action: "click->toggle#fire" } do %>
                              <i class="fas fa-pencil-alt"></i>
                            <% end %>
                            <div data-toggle-target="togglableElement" class="d-none">
                              <%= render "booking_edit", booking: booking %>
                            </div>


                          <%= link_to booking_path(booking), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class:"btn btn-outline-secondary", style: "border-radius: 20px;" do %>
                          <i class="fas fa-trash-alt"></i>
                        <% end %>
                      </div>
                  <% end %>
                  </div>
              </div>
            </div>
            <br> <!-- Espace entre deux instances de "My bookings" -->
          <% end %>
        </div>
      <% else %>
        <p>You don't have any bookings yet.</p>
      <% end %>
    </div>

    <!-- Colonne pour "My cars" -->
    <div class="col-md-6">
      <h2>My cars</h2>
      <% if @cars.any? %>
        <div class="cars">
          <!-- Liste des voitures actuelle -->
          <% @cars.each do |car| %>
            <div class="card-trip">
              <% if car.photo.attached? %>
                <%= image_tag car.photo, class: "card-img-top card-img-fit", alt: "Car Photo" %>
              <% end %>
              <div class="card-trip-infos">
              <div data-controller="toggle" class="mt-5">
                <div>
                  <h3><%= car.name %></h3>
                  <p>Category: <%= car.category %></p>
                  <p>Price: <%= car.price %></p>
                  <p>Address: <%= car.address %></p>
                </div>
                <div class="button-group">

                  <%= button_tag class: "btn btn-outline-secondary", style: "border-radius: 20px;", data: { action: "click->toggle#fire" } do %>
                      <i class="fas fa-pencil-alt"></i>
                    <% end %>
                    <div data-toggle-target="togglableElement" class="d-none">
                      <%= render "mycaredit", car: car %>
                    </div>
                  <%= link_to car_path(car), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class:"btn btn-outline-secondary", style: "border-radius: 20px;" do %>
                    <i class="fas fa-trash-alt"></i>
                  <% end %>
                </div>

              </div>
              </div>
            </div>
            <br> <!-- Espace entre deux instances de "My cars" -->
          <% end %>
        </div>
      <% else %>
        <p>You don't have any cars yet.</p>
      <% end %>
    </div>
  </div>


</div>
