<h1>Dashboard</h1>

<p>I'm here</p>
<h2>My offers</h2>
<% if @recent_car %>
  <p>Dernière offre de location créée :</p>
  <ul>
    <% @recent_car.each do |car|%>
    <li>Nom de la voiture: <%= car.name %></li>
    <li>Prix <%= car.price %></li>
    <li>Catégorie <%= car.category %></li>
    <li><%= link_to "Modifier mon offre", edit_car_path(car) %></li>
    <li><%= link_to "Supprimer mon offre", car_path(car), data: {turbo_method: :delete, turbo_confirm: 'Are you sure'} %></li>
    <% end %>
  <% else %>
    <p>Vous n'avez pas encore d'offre</p>
  </ul>
<% end %>

<%= link_to "Create an offer", new_car_path %>

<%= cl_image_tag("lgclov4w5bwvmvqvkarf",
      width: 400, height: 300, crop: :fill) %>
