<!-- app/views/pages/dashboard.html.erb -->
<div class="container">
  <div class="row">
    <div class="col">
      <!-- Section "My bookings" -->
      <h2>My bookings</h2>
      <% if @recent_bookings.any? %>
        <div class="bookings">
          <% @recent_bookings.each do |booking| %>
            <div class="booking">
              <h3>Start Date: <%= booking.start_date %></h3>
              <p>End Date: <%= booking.end_date %></p>
              <p>Car: <%= booking.car.name %></p>
              <!-- Ajoutez d'autres détails de la réservation que vous souhaitez afficher -->

              <!-- Boutons pour modifier et supprimer la réservation -->
              <div class="button-group">
                <% if current_user == booking.user %>
                  <%= link_to "Modifier", edit_booking_path(booking), class: "btn btn-primary", style: "border-radius: 20px;" %>
                 <%= link_to "Supprimer mon offre", booking_path(booking), method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "btn btn-danger small-btn", style: "border-radius: 20px;" %>


                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <p>You don't have any bookings yet.</p>
      <% end %>
    </div>
  </div>
</div>
