<div class="container">
  <div class="row">
    <div class="col">
      <h1>Dashboard</h1>
      <p>I'm here</p>

      <h2>My offers</h2>
      <% if @recent_car.any? %>
        <% @recent_car.each do |car| %>
          <div class="offer">
            <h3>Nom de la voiture: <%= car.name %></h3>
            <p>Prix: <%= car.price %></p>
            <p>Catégorie: <%= car.category %></p>

            <!-- ... Other offer details ... -->

            <!-- Boutons "Modifier mon offre" et "Supprimer mon offre" avec styles personnalisés -->
            <div class="button-group">
              <%= link_to "Modifier mon offre", edit_car_path(car), class: "btn btn-primary small-btn", style: "border-radius: 20px;" %>
              <%= link_to "Supprimer mon offre", car_path(car), data: {turbo_method: :delete, turbo_confirm: 'Are you sure'}, class: "btn btn-danger small-btn", style: "border-radius: 20px;" %>
            </div>
            <!-- Affichage de la photo de la voiture s'il y en a une -->
            <% if car.photo.attached? %>
              <%= cl_image_tag car.photo.key, width: 400, height: 300, crop: :fill %>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <p>Vous n'avez pas encore d'offre</p>
      <% end %>

      <%= link_to "Create an offer", new_car_path, class: "btn btn-success", style: "border-radius: 20px;" %>
    </div>
  </div>

  <div class="push"></div> <!-- Div vide pour pousser le footer vers le bas -->

  <h2>My bookings</h2>
  <% if @recent_bookings.any? %>
    <ul>
      <% @recent_bookings.each do |booking| %>
        <li>Start Date: <%= booking.start_date %></li>
        <li>End Date: <%= booking.end_date %></li>
        <li>Car: <%= booking.car.name %></li>
        <!-- Ajoutez d'autres détails de la réservation que vous souhaitez afficher -->
      <% end %>
    </ul>
  <% else %>
    <p>You don't have any bookings yet.</p>
  <% end %>
</div>
