<%= link_to car_path(car), style: "text-decoration:none; color:black;" do %>
<div class="text-decoration-none">
  <h3 ><%= car.name %></h3>
  <p><%= car.price %>€</p>
  <% if car.photo.attached? %>
    <%= cl_image_tag car.photo.key, class: "imgpopup" %>
    <% else %>
    <%= "https://source.unsplash.com/random/?car"  %>
   <% end %>
</div>
<% end %>
