<div class="container">
  <!-- Formulaire de recherche -->

  <h1>Vintage Cars</h1>
  <p>Find out the best cars in the market</p>
  <div class="search-container">
    <%= form_with(url: cars_path, method: "get", class: "search-form") do |form| %>
      <%= form.text_field :search, placeholder: "Rechercher votre voiture..." %>
      <%= form.submit "Rechercher" %>
    <% end %>
  </div>

  <div class="row">
    <div class="col">
      <!-- Cards for each car -->
      <div class="cards">
        <% @cars.each do |car| %>
          <%= link_to car_path(car), style: "text-decoration: none;" do %>
            <div class="card-trip">
              <img src="https://source.unsplash.com/random/?car" />
              <div class="card-trip-infos">
                <div>
                  <h2><%= car.name %></h2>
                  <p><%= car.category %></p>
                </div>
                <h2 class="card-trip-pricing"><%= car.price %>€</h2>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
