<div class="container">
  <!-- Formulaire de recherche -->

  <h1>Vintage Cars</h1>
  <p>Find out the best cars in the market</p>
  <div class="search-container">
    <%= form_with(url: cars_path, method: "get", class: "search-form") do |form| %>
      <div class="form-group">
        <%= form.label :name, "Name" %>
        <%= form.text_field :search, placeholder: "Car Name" %>
      </div>
      <div class="form-group">
        <%= form.label :category, "Category" %>
        <%= form.text_field :category, placeholder: "Car Category" %>
      </div>
      <div class="form-group">
        <%= form.label :price, "Price" %>
        <%= form.text_field :price, placeholder: "Car Price" %>
      </div>
      <%= form.submit "Rechercher" %>
      <%= link_to 'Clear my search', root_path, class: 'btn btn-secondary' %>
    <% end %>
  </div>

  <div class="row">
    <div class="col">
      <!-- Cards for each car -->
      <div class="cards">
        <% @cars.each do |car| %>
            <div class="card-trip">
              <%= image_tag car.photo.url if car.photo.attached? %>
              <div class="card-trip-infos">
                <div>
                  <h2><%= car.name %></h2>
                  <p><%= car.category %></p>
                </div>
                <h2 class="card-trip-pricing"><%= car.price %>€</h2>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>

</div>
