<div class="container">
  <div class="row">
    <div class="col">
      <h3>Enter your car information</h3>

      <%= simple_form_for @car do |f| %>
        <%= f.input :name %>
        <%= f.input :category, collection: ['Citadine', 'Familiale', 'SUV', 'Sportive'], include_blank: 'Choose a category' %>
        <%= f.rich_text_area :description %>
        <%= f.input :price %>
        <%= f.input :photo %>
        <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>

        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>
