<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <div class="card border-secondary" style="border-radius: 15px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        <div class="card-body">
          <h1 class="card-title mb-4"><%= @car.name %></h1>
          <h5 class="card-subtitle mb-3 text-muted"><%= @car.category %></h5>

          

          <img src="<%= @car.photo.url if @car.photo.attached? %>" class="card-img-top mb-4" alt="Car picture" style="border-radius: 10px;">
          <p class="card-text car-description"><%= @car.description %></p>
          <p class="card-text"><strong>Price: <%= number_to_currency(@car.price, unit: '€') %></strong></p>
          <button type="button" class="btn btn-primary" style="border-radius: 5px;">
            <%= link_to 'Book this car', new_car_booking_path(@car), class: "text-white text-decoration-none" %>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
